*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(38, 0, 255, 0.397);
}

#formList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 50px;
}

label{
    font-size: 20px;
}

#input{
    padding: 10px;
    border-radius: 1rem;
}

button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

#card{
    display: grid;
    place-items: center;
    height: 300px;
    width: 500px;
    border-radius: 2rem;
    margin-left: 440px;
    margin-top: 40px;
    background: rgba( 255, 255, 255, 0.45 );
    filter: blur( 0.2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.poke img{
    height: 70px;
    width: 70px;
}

.poke{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}